@import "../../styles/variables.scss";

.about {
  color: $white;

  display: grid;
  grid-template-columns:
    1fr
    calc(min(85ch, 90%))
    1fr;

  & > * {
    grid-column: 2;
  }

  background-image: linear-gradient(90deg, #1a16ff, #7b16ff);
  padding: 10px;

  @media (min-width: $breakpoint-lg) {
    padding: 50px 150px;
  }

  @media (min-width: $breakpoint-md) {
    padding: 50px 50px;
  }
}

.skills {
  color: $white;
  padding: 10px;

  @media (min-width: $breakpoint-lg) {
    padding: 50px 150px;
  }

  @media (min-width: $breakpoint-md) {
    padding: 50px 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-zilla-slab;
}

p {
  font-family: $font-dm-mono;
}
