@import "../../styles/variables.scss";

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title image";

  background-color: black;
  height: 100vh;
  padding: 0 20px;

  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $white;

    &__title {
      position: relative;

      .block {
        width: 0%;
        background: #ffb510;
        height: 100%;
        position: absolute;
        animation: titleBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
      }

      h1 {
        font-size: 5em;
        margin: 0;
        animation: titleFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
      }
    }

    &__subtitle {
      .block {
        color: red;
      }
      h2 {
        font-size: 2.5em;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    &__png {
      img {
        border-radius: 50%;
        border: 2px solid white;
      }
    }
  }
}

@keyframes titleBlock {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes titleFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
