@import "../../styles/variables.scss";

.projects {
  margin: 50px 0;
  padding: 0 50px;
  color: $white;

  @media (max-width: $breakpoint-lg) {
    padding: 0 10px;
  }

  @media (max-width: $breakpoint-sm) {
    padding: 0 10px;
  }
}

.projectsWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project {
  color: $black;
  width: 100%;
  max-width: 400px;
  background-color: $white;
  border-radius: 10px 10px 0 0;
  margin: 5px;
  display: flex;
  flex-direction: column;

  h5 {
    color: $white;
    background-color: $primary;
    padding: 10px 20px;
    margin: 0;
    border-radius: 7px 7px 0 0;
  }

  &__image {
    display: flex;
    justify-content: center;
    img {
      margin: 10px 0;
      width: auto;
      height: auto;
      max-width: 90%;
      max-height: 200px;
      position: relative;
    }
  }

  &__description {
    @media (min-width: $breakpoint-md) {
      height: 250px;
    }

    h3 {
      padding: 0 10px;
      font-size: 1.4em;
    }

    p {
      padding: 0 10px;
    }
  }

  &__tech {
    ul {
      display: flex;
      list-style-type: none;
      padding-inline-start: 0;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    li {
      padding: 5px;
      display: flex;
      align-items: center;

      p {
        margin: 0;
        margin-left: 5px;
      }
    }

    &__icon {
      svg {
        height: 30px;
        width: 20px;
      }
    }
  }

  &__link {
    padding: 20px 0;
    display: flex;
    justify-content: center;

    a {
      padding: 10px;
      text-decoration: none;
      background-color: $primary;
      color: $white;
      border-radius: 5px;
      display: flex;
      align-items: center;
      box-shadow: 0 0 3px 1px $black;

      svg {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        fill: $white;
      }

      span {
        margin-left: 10px;
        font-size: 1.5em;
        display: flex;
        align-items: center;
      }

      &:hover {
        background-color: darken($primary, 10%);
      }
    }
  }
}
