@import "../../styles/variables.scss";

.skillsWrapper {
  display: flex;
  justify-content: center;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    border-radius: 5px;
    color: $white;

    h3 {
      margin-bottom: 10px;
      text-align: center;
    }

    &__techGroup {
      display: flex;
      max-width: 360px;
      flex-wrap: wrap;
      justify-content: center;

      @media (max-width: 676px) {
        justify-content: center;
      }
    }
  }
}
